venv
.ftp*
sherry_test*
misc/token.pickle
.vscode/ftp-sync.json
__pycache__/
nohup.out
build
video_similarity_search.egg-info/
tnet_checkpoints/val_loss_and_acc.txt
log*.txt
*.png
*.whl
*.pkl
test_evaluate/*
.gitignore
*.gif
*.avi
*.txt
optical_llc_contd.sh
*.npy
*topk_correct.json
*.log
log-eval-linclr/*
*.csv
*.pth.tar
*.out
