absl_py==0.15.0+computecanada
apiclient==1.0.4
backcall==0.2.0+computecanada
cached-property==1.5.2+computecanada
cachetools==4.2.2+computecanada
certifi==2021.10.8+computecanada
charset_normalizer==2.0.7+computecanada
cycler==0.10.0+computecanada
dataclasses==0.8+computecanada
decorator==4.4.2+computecanada
fvcore==0.1.3.post20210317+computecanada
google-api-core==1.31.1+computecanada
google-api-python-client==1.12.8+computecanada
google-auth-httplib2==0.0.4+computecanada
google_auth==1.35.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
googleapis-common-protos==1.53.0+computecanada
graphviz==0.17+computecanada
grpcio==1.38.0+computecanada
gspread==4.0.1
h5py==3.1.0+computecanada
httplib2==0.19.1+computecanada
idna==3.3+computecanada
imageio==2.9.0+computecanada
importlib_metadata==4.8.1+computecanada
iopath==0.1.6+computecanada
ipdb==0.11+computecanada
ipython==7.16.1+computecanada
ipython-genutils==0.2.0+computecanada
jedi==0.18.0+computecanada
joblib==1.1.0+computecanada
kiwisolver==1.3.1+computecanada
lmdb==0.98+computecanada
Markdown==3.3.4+computecanada
matplotlib==3.3.4+computecanada
msgpack==0.6.2+computecanada
networkx==2.5.1+computecanada
numpy==1.19.5+computecanada
oauth2client==4.1.3+computecanada
oauthlib==3.1.1+computecanada
opencv-python==4.5.1.48+computecanada
packaging==21.0+computecanada
pandas==1.0.3+computecanada
parso==0.8.2+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==8.1.2+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
portalocker==2.3.0+computecanada
pp-ez==0.2.0
prompt-toolkit==3.0.19+computecanada
protobuf==3.19.1+computecanada
ptyprocess==0.7.0+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pyflann-py3==0.1.0
Pygments==2.10.0+computecanada
pyparsing==2.4.7+computecanada
python-dateutil==2.8.2+computecanada
pytz==2021.3+computecanada
PyWavelets==1.1.1+computecanada
PyYAML==5.3.1+computecanada
requests==2.26.0+computecanada
requests-oauthlib==1.3.0+computecanada
rsa==4.7.2+computecanada
scikit-image==0.17.2+computecanada
scikit-learn==0.24.1+computecanada
scikit-video==1.1.11
scipy==1.4.1+computecanada
seaborn==0.11.2+computecanada
simplejson==3.16.0+computecanada
six==1.16.0+computecanada
tabulate==0.8.9+computecanada
tensorboard==2.6.0+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard-plugin-wit==1.8.0+computecanada
tensorboardX==2.4+computecanada
termcolor==1.1.0+computecanada
threadpoolctl==3.0.0+computecanada
tifffile==2020.9.3+computecanada
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchvision==0.11.1+cu113
torchviz==0.0.2
tqdm==4.62.0+computecanada
traitlets==4.3.3+computecanada
typing_extensions==3.10.0.2+computecanada
uritemplate==3.0.1+computecanada
urllib3==1.26.7+computecanada
wcwidth==0.2.5+computecanada
Werkzeug==2.0.2+computecanada
yacs==0.1.8+computecanada
zipp==3.6.0+computecanada
