numpy
scipy
pandas
matplotlib
scikit-learn==0.22.0
scikit-image
opencv-python
torch
torchvision
tensorboard
joblib
tqdm
ipdb
h5py
simplejson
fvcore
gspread
oauth2client
apiclient
google-api-python-client
torchviz
pyflann-py3
