numpy
scipy
pandas
matplotlib
scikit-learn
scikit-image
opencv-python
torch
torchvision
tensorboard
joblib
tqdm
ipdb
h5py
simplejson
fvcore
gspread
oauth2client
apiclient
google-api-python-client
torchviz
pyflann-py3
seaborn
pp-ez
tensorboardX
msgpack==0.6.2
lmdb
scikit-video
einops
